/* Extra small devices (phones, 600px and down) */
@media (max-width: 25em) {
  #navig {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    margin-top: 18rem;
    background-color: rgba(7, 21, 37, 0.7);
    z-index: 1;
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    display: flex;
  }

  .navbar-links ul li {
    text-align: center;
    margin-bottom: 1rem;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }

  /* //////// */
  .mainContainer {
    max-width: 90vw;
    height: 80vh;
    background-color: #4a6bae;
  }
  .navigation {
    height: 3rem;
  }
  .first {
    background-color: rgb(155, 138, 173);
  }
  .cont {
    margin: 0.5rem 1rem;
    width: 90%;
  }
  #head {
    font-size: 1rem;
    /* margin-bottom: 0.5rem; */
  }

  .para {
    font-size: 1.3rem;
    /* line-height: 1; */
  }
  .inner {
    height: auto;
    padding: 0.5rem;
    flex-direction: column;
    align-self: flex-start;
    justify-content: unset;
    /* margin-top: 1rem; */
    /* flex-wrap: wrap; */
    /* width: 90%; */
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;
  }
  .inner2 {
    flex-direction: column;
    overflow-y: auto;
    justify-content: unset;
  }
  .side1 {
    /* min-height: min-content; */
    width: auto;
    height: auto;
    flex-wrap: wrap;
  }
  .side2 {
    /* min-height: min-content; */
    margin-top: 30rem;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    /* align-self: flex-start; */
  }
  #navig {
    font-size: 1rem;
    margin-bottom: 2.2rem;
    /* align-items: center; */
    /* margin-left: auto; */
    /* flex-basis: 75%; */
    display: flex;
    gap: 0.5rem;
    /* background-color: blue; */
  }

  .btn {
    font-size: 0.6rem;
  }
  nav {
    margin-right: 0;
  }
  .info {
    font-size: 0.7rem;
    margin-left: 1rem;
  }

  .list {
    margin-left: 0;
  }
  nav li {
    margin-left: 0;
  }
  div ul {
    margin-top: 2rem;
  }
  div ul li {
    list-style: none;
    padding: 0.2rem;
    margin-left: 0;
  }

  #logo {
    /* left: 33%; */
    top: 55px;
    max-width: 20%;
  }
  .fix_log {
    top: 62px !important;
  }
  .sec_container {
    /* height: 8vh; */
    max-width: 90vw;
    background-color: rgba(7, 21, 37, 0.7);
  }
  .bot {
    font-size: 0.6rem;
  }
}

@media (min-width: 25em) {
  #navig {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    margin-top: 18rem;
    background-color: rgba(7, 21, 37, 0.7);
    z-index: 1;
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    display: flex;
  }

  .navbar-links ul li {
    text-align: center;
    margin-bottom: 1rem;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
  /* /////////// */
  .mainContainer {
    max-width: 90vw;
    height: 80vh;
    background-color: #4a6bae;
  }
  .navigation {
    height: 3rem;
  }
  .cont {
    margin: 0.5rem 1rem;
    width: 90%;
  }
  #head {
    font-size: 1.2rem;
    /* margin-bottom: 0.5rem; */
  }

  .para {
    font-size: 1.3rem;
    /* line-height: 1; */
  }
  .inner {
    height: auto;
    padding: 0.5rem;
    flex-direction: column;
    align-self: flex-start;
    justify-content: unset;
    /* margin-top: 1rem; */
    /* flex-wrap: wrap; */
    /* width: 90%; */
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;
  }
  .inner2 {
    flex-direction: column;
    overflow-y: auto;
    justify-content: unset;
    /* flex-flow: column; */
  }
  .side1 {
    /* min-height: min-content; */
    width: auto;
    height: auto;
    flex-wrap: wrap;
  }
  .side2 {
    /* min-height: min-content; */
    margin-top: 33rem;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    /* align-self: flex-start; */
  }
  #navig {
    font-size: 1rem;
    margin-bottom: 2.2rem;
    /* align-items: center; */
    /* margin-left: auto; */
    /* flex-basis: 75%; */
    display: flex;
    gap: 0.5rem;
    /* background-color: blue; */
  }

  .btn {
    font-size: 0.6rem;
  }
  nav {
    margin-right: 0;
  }
  .info {
    font-size: 0.7rem;
    margin-left: 1rem;
  }

  .list {
    margin-left: 0;
  }
  nav li {
    margin-left: 0;
  }
  div ul {
    margin-top: 2rem;
  }
  div ul li {
    list-style: none;
    padding: 0.2rem;
    margin-left: 0;
  }

  #logo {
    /* left: 33%; */
    top: 55px;
    max-width: 20%;
  }
  .sec_container {
    /* height: 8vh; */
    max-width: 90vw;
    background-color: rgba(7, 21, 37, 0.7);
  }
  .bot {
    font-size: 0.6rem;
  }
  .img1 {
    object-fit: fill;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 37.5em) {
  #navig {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    margin-top: 18rem;
    background-color: rgba(7, 21, 37, 0.7);
    z-index: 1;
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    display: flex;
  }

  .navbar-links ul li {
    text-align: center;
    margin-bottom: 1rem;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
  /* ////// */
  .img1 {
    object-fit: fill;
  }
  .mainContainer {
    background-color: rgb(204, 199, 199, 0.5);
    margin: auto;
    height: 83vh;
    max-width: 64.5vw;
    margin-top: 6rem;

    display: flex;
    flex-direction: column;
  }
  .inner2 {
    flex-direction: column;
    overflow-y: auto;
    justify-content: unset;
    align-content: stretch;
  }
  .side1 {
    min-height: 0px;
    width: auto;
    height: auto;
    flex-wrap: wrap;
  }
  .side2 {
    /* min-height: min-content; */
    margin-top: 45rem;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    /* align-self: flex-start; */
  }
}
/*

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 47.5em) {
  #navig {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    margin-top: 18rem;
    background-color: rgba(7, 21, 37, 0.7);
    z-index: 1;
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    display: flex;
  }

  .navbar-links ul li {
    text-align: center;
    margin-bottom: 1rem;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
  .toggle-button {
    top: 8rem;
    right: 10rem;
  }
  /* .but {
    top: 9rem;
  } */
  /* //////////// */
  .mainContainer {
    background-color: rgb(204, 199, 199, 0.5);
    margin: auto;
    height: auto;
    max-width: 80vw;
    margin-top: 6rem;

    display: flex;
    flex-direction: column;
  }
  #dd {
    height: 75vh;
  }
  .navigation {
    height: 5rem;
  }
  .cont {
    margin: 1rem 2rem;
    width: 30%;
  }
  #head {
    /* font-size: 1.2rem; */
    /* margin-bottom: 0.5rem; */
  }

  .para {
    font-size: 1.3rem;
    /* line-height: 1; */
  }
  .inner {
    background-color: rgba(7, 21, 37, 0.7);
    height: initial;
    display: flex;
    /* flex-direction: ; */
    /* column-gap: 3rem; */
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    overflow-y: initial;
    overflow-x: initial;
  }
  .inner2 {
    flex-direction: column;
    overflow-y: auto;
    justify-content: unset;
    height: auto;
    /* flex-flow: column nowrap; */
  }
  .side1 {
    /* min-height: min-content; */
    width: auto;
    height: auto;
    flex-wrap: wrap;
  }
  .side2 {
    /* min-height: min-content; */
    margin-top: 70rem;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    /* align-self: flex-start; */
  }
  #navig {
    font-size: 1.5rem;
    /* text-color: rgb(113, 149, 180); */
    margin-bottom: 2.2rem;
    /* align-items: center; */
    /* margin-left: auto; */
    display: flex;
    gap: 1rem;
  }

  .btn {
    font-size: 1.7rem;
  }
  nav {
    margin-right: 2rem;
  }
  .info {
    font-size: 1.5rem;
    margin-left: 1.3rem;
  }

  .list {
    margin-left: 0;
  }
  nav li {
    margin-left: 2rem;
  }
  div ul {
    margin-top: 3rem;
  }
  div ul li {
    list-style: none;
    padding: 0.2rem;
    margin-left: 0;
  }

  #logo {
    /* left: 33%; */
    position: absolute;
    top: 10px;
    margin-left: 1rem;
    margin-right: auto;
  }
  .fix_log {
    top: 40px !important;
  }
  .sec_container {
    /* height: 8vh; */
    max-width: 80vw;
    background-color: rgba(7, 21, 37, 0.7);
  }
  .bot {
    font-size: 1.3rem;
  }
  .bot p {
    font-size: 1.3rem;
  }
  #head {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 75em) {
  .toggle-button {
    display: none;
  }
  .but {
    display: none;
  }
  .navbar-links {
    margin-top: initial;
    /* margin-bottom: 0; */
    background-color: initial;
    z-index: initial;
    display: initial;
    width: initial;
  }

  .navbar-links ul {
    width: initial;
    flex-direction: initial;
    display: initial;
  }

  .navbar-links ul li {
    text-align: initial;
    margin-bottom: initial;
  }

  .navbar-links ul li a {
    padding: initial;
    font-size: initial;
  }
  #navig {
    margin-top: 2.7rem;
  }
  .list {
    margin-right: 1.5rem;
  }
  .mainContainer {
    background-color: rgb(204, 199, 199, 0.5);
    margin: auto;
    height: 83vh;
    max-width: 64.5vw;
    margin-top: 6rem;

    display: flex;
    flex-direction: column;
  }
  .navigation {
    height: 5rem;
  }
  .cont {
    margin: 1rem 2rem;
    width: 30%;
  }
  #head {
    /* font-size: 1.2rem; */
    /* margin-bottom: 0.5rem; */
  }

  .para {
    font-size: 1.3rem;
    /* line-height: 1; */
  }
  .inner {
    background-color: rgba(7, 21, 37, 0.7);
    height: 50.7rem;
    display: flex;
    /* flex-direction: ; */
    /* column-gap: 3rem; */
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    overflow-y: initial;
    overflow-x: initial;
  }
  .inner2 {
    flex-direction: row;
    overflow-y: unset;
    justify-content: space-around;
  }
  .side1 {
    width: 30%;
    height: 100%;
    /* background-color: blueviolet; */
  }
  .side2 {
    margin-top: initial;
    width: 60%;
    height: 100%;
    /* background-color: blueviolet; */
  }
  #navig {
    font-size: 1.5rem;
    /* text-color: rgb(113, 149, 180); */
    margin-bottom: 2.2rem;
    /* align-items: center; */
    /* margin-left: auto; */
    display: flex;
    gap: 1rem;
  }

  .btn {
    font-size: 1.7rem;
    font-weight: bold;
  }
  nav {
    margin-right: 2rem;
  }
  .info {
    font-size: 1.5rem;
    margin-left: 1.3rem;
  }

  .list {
    margin-left: 0;
  }
  nav li {
    margin-left: 2rem;
  }
  div ul {
    margin-top: 3rem;
  }
  div ul li {
    list-style: none;
    padding: 0.2rem;
    margin-left: 0;
  }

  #logo {
    /* left: 33%; */
    position: absolute;
    top: 10px;
    margin-left: 1rem;
    margin-right: auto;
  }
  .sec_container {
    /* height: 8vh; */
    max-width: 64.5vw;
    background-color: rgba(7, 21, 37, 0.7);
  }
  .bot {
    font-size: 1.3rem;
  }
  .bot p {
    font-size: 1.3rem;
  }
  #head {
    font-size: 2rem;
  }
}
